
@media screen and (min-width: 1024px) {
.row.poster {
    position: relative;
    height: 1000px;
    width: 100%;
    overflow: hidden; 
}

.poster1 {
    position: absolute;
    transform: scale(0.3) rotate(-45deg);
    transform-origin: top left;
    margin-top: 40%;
    margin-left: -20%;
    z-index: -2;
}

.poster2 {
    position: absolute;
    transform: scale(0.15) rotate(-30deg);
    transform-origin: top left;
    margin-top: 72%;
    margin-left: -6%;
    z-index: 1;
}

.poster3 {
    position: absolute;
    transform: scale(0.25) rotate(40deg);
    transform-origin: top left;
    margin-top: -10%;
    margin-left: 79%;
}

.poster4 {
    position: absolute;
    transform: scale(0.25) rotate(20deg);
    transform-origin: top left;
    margin-top: 16%;
    margin-left: 35%;
}

.poster5 {
    position: absolute;
    transform: scale(0.3) rotate(-10deg);
    transform-origin: top left;
    margin-top: 50%;
    margin-left: 60%;
}

.poster6 {
    position: absolute;
    transform: scale(0.25) rotate(30deg);
    transform-origin: top left;
    margin-top: 35%;
    margin-left: 2%;
}

h4 {
    font-size: 60px;
    color: white;
    letter-spacing: 5px;
    display: inline-block;
    background-color: #f00;
    transform-origin: top left;
    text-decoration: underline;
}

.about {
    transform: rotate(38deg);
    margin-left: 65%;
    margin-top: -60%;
    position: fixed;
    z-index: 2;
}

.share {
    transform: rotate(-35deg);
    margin-left: 65%;
    margin-top: -37%;
    position:  fixed;
    z-index: 1;
     
}

.contact {
    transform: rotate(-35deg);
    margin-left: 20%;
    margin-top: -30%;
    position:  fixed;
    z-index: 1;
    
    
}

.circle {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    background-color: yellow;
    border-radius: 50%;
    animation: expandAndFadeOut 5s linear forwards;
    z-index: 3;
  }
  
  @keyframes expandAndFadeOut {
    0% {
      width: 10px;
      height: 10px;
      opacity: 1;
    }
    
    50% {
        width: 100px;
        height: 100px;
        opacity: 0.5;
      }

    100% {
      width: 200vw;
      height: 200vw;
      opacity: 0;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .row.poster {
        position: relative;
        height: 800px;
        width: 100%;
        overflow: hidden; 
    }
    
    .poster1 {
        position: absolute;
        transform: scale(0.2) rotate(-45deg);
        transform-origin: top left;
        margin-top: 30%;
        margin-left: -20%;
        z-index: -2;
    }
    
    .poster2 {
        position: absolute;
        transform: scale(0.1) rotate(-30deg);
        transform-origin: top left;
        margin-top: 62%;
        margin-left: -6%;
        z-index: 1;
    }
    
    .poster3 {
        position: absolute;
        transform: scale(0.2) rotate(40deg);
        transform-origin: top left;
        margin-top: -10%;
        margin-left: 79%;
    }
    
    .poster4 {
        position: absolute;
        transform: scale(0.2) rotate(20deg);
        transform-origin: top left;
        margin-top: 10%;
        margin-left: 35%;
    }
    
    .poster5 {
        position: absolute;
        transform: scale(0.25) rotate(-10deg);
        transform-origin: top left;
        margin-top: 50%;
        margin-left: 60%;
    }
    
    .poster6 {
        position: absolute;
        transform: scale(0.2) rotate(30deg);
        transform-origin: top left;
        margin-top: 35%;
        margin-left: 2%;
    }
    
    h4 {
        font-size: 60px;
        color: white;
        letter-spacing: 5px;
        display: inline-block;
        background-color: #f00;
        transform-origin: top left;
        text-decoration: underline;
    }
    
    .about {
        transform: rotate(38deg);
        margin-left: 65%;
        margin-top: -60%;
        position: fixed;
        z-index: 2;
    }
    
    .share {
        transform: rotate(-35deg);
        margin-left: 55%;
        margin-top: -17%;
        position:  fixed;
        z-index: 1;
         
    }
    
    .contact {
        transform: rotate(-35deg);
        margin-left: 20%;
        margin-top: -30%;
        position:  fixed;
        z-index: 1;
        
        
    }
    
    .circle {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 10px;
        height: 10px;
        background-color: yellow;
        border-radius: 50%;
        animation: expandAndFadeOut 5s linear forwards;
        z-index: 3;
      }
      
      @keyframes expandAndFadeOut {
        0% {
          width: 10px;
          height: 10px;
          opacity: 1;
        }
        
        50% {
            width: 100px;
            height: 100px;
            opacity: 0.5;
          }
    
        100% {
          width: 200vw;
          height: 200vw;
          opacity: 0;
        }
      }
    }    


    
    /* @media screen and (max-width: 767px) {
        .row.poster {
            height: 800px;
            width: 100%;
            overflow: hidden; 
        }
        
        .poster1 {
            position: absolute;
            transform: scale(0.1) rotate(-45deg);
            transform-origin: top left;
            margin-top: 30%;
            margin-left: -20%;
            z-index: -2;
        }
        
        .poster2 {
            position: absolute;
            transform: scale(0.06) rotate(-60deg);
            transform-origin: top left;
            margin-top: 132%;
            margin-left: -14%;
            z-index: 1;
        }
        
        .poster3 {
            position: absolute;
            transform: scale(0.1) rotate(40deg);
            transform-origin: top left;
            margin-top: -10%;
            margin-left: 79%;
        }
        
        .poster4 {
            position: absolute;
            transform: scale(0.1) rotate(20deg);
            transform-origin: top left;
            margin-top: 30%;
            margin-left: 40%;
        }
        
        .poster5 {
            position: absolute;
            transform: scale(0.1) rotate(-10deg);
            transform-origin: top left;
            margin-top: 80%;
            margin-left: 45%;
        }
        
        .poster6 {
            position: absolute;
            transform: scale(0.1) rotate(30deg);
            transform-origin: top left;
            margin-top: 35%;
            margin-left: 2%;
        }
        
        h4 {
            font-size: 30px;
            color: white;
            letter-spacing: 5px;
            display: inline-block;
            background-color: #f00;
            transform-origin: top left;
            text-decoration: underline;
        }
        
        .about {
            transform: rotate(38deg);
            margin-left: 65%;
            margin-top: -60%;
            position: fixed;
            z-index: 2;
        }
        
        .share {
            transform: rotate(-35deg);
            margin-left: 55%;
            margin-top: -17%;
            position:  fixed;
            z-index: 1;
             
        }
        
        .contact {
            transform: rotate(-35deg);
            margin-left: 20%;
            margin-top: -30%;
            position:  fixed;
            z-index: 1;
            
            
        }
        
        .circle {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 10px;
            height: 10px;
            background-color: yellow;
            border-radius: 50%;
            animation: expandAndFadeOut 5s linear forwards;
            z-index: 3;
          }
          
          @keyframes expandAndFadeOut {
            0% {
              width: 10px;
              height: 10px;
              opacity: 1;
            }
            
            50% {
                width: 100px;
                height: 100px;
                opacity: 0.5;
              }
        
            100% {
              width: 200vw;
              height: 200vw;
              opacity: 0;
            }
          } */
        /* }     */

        @media screen and (max-width: 767px) {
            .row.poster {
              height: 100vh;
              width: 100%;
              overflow: hidden;
            }
          
            .poster1 {
              position: absolute;
              transform: scale(0.1) rotate(-45deg);
              transform-origin: top left;
              margin-top: 20%;
              margin-left: -15%;
              z-index: -2;
            }
          
            .poster2 {
              position: absolute;
              transform: scale(0.06) rotate(-60deg);
              transform-origin: top left;
              margin-top: 95%;
              margin-left: -12%;
              z-index: 1;
            }
          
            .poster3 {
              position: absolute;
              transform: scale(0.1) rotate(40deg);
              transform-origin: top left;
              margin-top: -10%;
              margin-left: 79%;
            }
          
            .poster4 {
              position: absolute;
              transform: scale(0.1) rotate(20deg);
              transform-origin: top left;
              margin-top: 30%;
              margin-left: 40%;
            }
          
            .poster5 {
              position: absolute;
              transform: scale(0.1) rotate(-10deg);
              transform-origin: top left;
              margin-top: 70%;
              margin-left: 45%;
            }
          
            .poster6 {
              position: absolute;
              transform: scale(0.1) rotate(30deg);
              transform-origin: top left;
              margin-top: 35%;
              margin-left: 2%;
            }
          
            h4 {
              font-size: 30px;
              color: white;
              letter-spacing: 5px;
              display: inline-block;
              background-color: #f00;
              transform-origin: top left;
              text-decoration: underline;
            }
          
            .about {
              transform: rotate(38deg);
              margin-left: 65%;
              margin-top: -60%;
              position: fixed;
              z-index: 2;
            }
          
            .share {
              transform: rotate(-35deg);
              margin-left: 55%;
              margin-top: -17%;
              position: fixed;
              z-index: 1;
            }
          
            .contact {
              transform: rotate(-35deg);
              margin-left: 20%;
              margin-top: -30%;
              position: fixed;
              z-index: 1;
            }
          
            .circle {
              position: fixed;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              width: 10px;
              height: 10px;
              background-color: yellow;
              border-radius: 50%;
              animation: expandAndFadeOut 5s linear forwards;
              z-index: 3;
            }
          
            @keyframes expandAndFadeOut {
              0% {
                width: 10px;
                height: 10px;
                opacity: 1;
              }
          
              50% {
                width: 100px;
                height: 100px;
                opacity: 0.5;
              }
          
              100% {
                width: 200vw;
                height: 200vw;
                opacity: 0;
              }
            }
          }
          