@media (min-width: 1200px) {

.row.poster {
    position: relative;
    height: 1000px; /* 设置容器高度 */
    overflow: hidden; /* 隐藏溢出内容 */
}

.poster1 {
    position: absolute;
    transform: scale(0.25) rotate(-45deg);
    transform-origin: top left;
    margin-top: 80%;
    margin-left: -20%;
}

.poster2 {
    position: absolute;
    transform: scale(0.1) rotate(-30deg);
    transform-origin: top left;
    margin-top: 72%;
    margin-left: 20%;
    z-index: 1;
}

.poster3 {
    position: absolute;
    transform: scale(0.2) rotate(40deg);
    transform-origin: top left;
    margin-top: 38%;
    margin-left: 79%;
}

.poster4 {
    position: absolute;
    transform: scale(0.2) rotate(20deg);
    transform-origin: top left;
    margin-top: 36%;
    margin-left: 35%;
}

.poster5 {
    position: absolute;
    transform: scale(0.25) rotate(-10deg);
    transform-origin: top left;
    margin-top: 70%;
    margin-left: 60%;
}

.poster6 {
    position: absolute;
    transform: scale(0.2) rotate(30deg);
    transform-origin: top left;
    margin-top: 35%;
    margin-left: 2%;
}

h4 {
    font-size: 80px;
    color: white;
    letter-spacing: 5px;
    display: inline-block;
    background-color: #f00;
    transform-origin: top left;
    text-decoration: underline;
}

.about {
    transform: rotate(38deg);
    margin-left: 25%;
    margin-top: -75%;
    position: absolute;
    z-index: 2;
}

.share {
    transform: rotate(-35deg);
    margin-left: 64%;
    margin-top: -45%;
    position: absolute;
    z-index: 2;
}

.contact {
    transform: rotate(35deg);
    margin-left: 15%;
    margin-top: -30%;
    position: absolute;
    z-index: 2;
}

.circle {
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    background-color: yellow;
    border: 2px solid #000000;
    position: relative;
    animation: roll 3s infinite; 
    left: -20vw;
    z-index: 3;
  }
 
  
  @keyframes roll {
    0% {
      top: -50vh;
      left: -10vw;
    }
    25% {
      top: 35vh;
      left: calc(100vw - 35vw);  
    }
    50% {
      top: 92vh;
      left: calc(100vw - 65vw);
    }
    75% {
      top: 180vh;
      left: calc(100vw - 15vw);

    }
    100% {
        top: 250vh; 
        left: calc(100vw - 30vw);
      }
  }
}





  
  @media (max-width: 768px) {
    .row.poster {
        position: relative;
        height: 900px; /* 设置容器高度 */
        width: 768px;
        overflow: hidden; /* 隐藏溢出内容 */
    }
    
    .poster1 {
        position: absolute;
        transform: scale(0.18) rotate(-45deg);
        transform-origin: top left;
        margin-top: 45%;
        margin-left: -20%;
    }
    
    .poster2 {
        position: absolute;
        transform: scale(0.08) rotate(-30deg);
        transform-origin: top left;
        margin-top: 32%;
        z-index: 1;
    }
    
    .poster3 {
        position: absolute;
        transform: scale(0.15) rotate(40deg);
        transform-origin: top left;
        margin-top: -2%;
        margin-left: 79%;
    }
    
    .poster4 {
        position: absolute;
        transform: scale(0.15) rotate(20deg);
        transform-origin: top left;
        margin-top: 30%;
        margin-left: 50%;
    }
    
    .poster5 {
        position: absolute;
        transform: scale(0.15) rotate(-10deg);
        transform-origin: top left;
        margin-top: 90%;
        margin-left: 29%;
    }
    
    .poster6 {
        position: absolute;
        transform: scale(0.15) rotate(20deg);
        transform-origin: top left;
        margin-top: 60%;
        margin-left: -5%;
    }
    
    h4 {
        font-size: 80px;
        color: white;
        letter-spacing: 5px;
        display: inline-block;
        background-color: #f00;
        transform-origin: top left;
        text-decoration: underline;
    }
    
    .about {
        transform: rotate(30deg);
        margin-left: 20%;
        margin-top: -110%;
        position: absolute;
        z-index: 2;
    }
    
    .share {
        transform: rotate(-35deg);
        margin-left: 65%;
        margin-top: -58%;
        position: absolute;
        z-index: 2;
    }
    
    .contact {
        transform: rotate(35deg);
        margin-left: 7%;
        margin-top: -45%;
        position: absolute;
        z-index: 2;
    }
    
    .circle {
        width: 10vw;
        height: 10vw;
        border-radius: 50%;
        background-color: yellow;
        border: 2px solid #000000;
        position: relative;
        animation: roll 4s infinite; 
        left: -20vw;
        z-index: 3;
      }
      
      @keyframes roll {
        0% {
          top: -50vh;
          left: 20vw;
        }
        25% {
          top: 1vh;
          left: calc(100vw - 80vw);  
        }
        50% {
            top: 35vh;
            left: calc(100vw - 15vw);  
        }
        75% {
            top: 75vh;
            left: calc(100vw - 80vw);
    
        }
        100% {
            top: 130vh;
          left: calc(100vw - 5vw);
          }
      }
    }    


    
    @media (max-width: 360px) {
        .row.poster {
            position: relative;
            height: 764px; /* 设置容器高度 */
            width: 360px;
            overflow: hidden; /* 隐藏溢出内容 */
        }
        
        .poster1 {
            position: absolute;
            transform: scale(0.1) rotate(-35deg);
            transform-origin: top left;
            margin-top: 100%;
            margin-left: -30%;
        }
        
        .poster2 {
            position: absolute;
            transform: scale(0.04) rotate(-30deg);
            transform-origin: top left;
            margin-top: 120%;
            margin-left: 50%;
            z-index: 1;
        }
        
        .poster3 {
            position: absolute;
            transform: scale(0.1) rotate(40deg);
            transform-origin: top left;
            margin-top: 130%;
            margin-left: 75%;
        }
        
        .poster4 {
            position: absolute;
            transform: scale(0.08) rotate(20deg);
            transform-origin: top left;
            margin-top: 85%;
            margin-left: 30%;
        }
        
        .poster5 {
            position: absolute;
            transform: scale(0.08) rotate(-15deg);
            transform-origin: top left;
            margin-top: 80%;
            margin-left: 29%;
        }
        
        .poster6 {
            position: absolute;
            transform: scale(0.1) rotate(30deg);
            transform-origin: top left;
            margin-top: 130%;
            margin-left: -5%;
        }
        
        h4 {
            font-size: 30px;
            color: white;
            letter-spacing: 5px;
            display: inline-block;
            background-color: #f00;
            transform-origin: top left;
            text-decoration: underline;
        }
        
        .about {
            transform: rotate(38deg);
            margin-left: 10%;
            margin-top: -195%;
            position: absolute;
            z-index: 2;
        }
        
        .share {
            transform: rotate(-35deg);
            margin-left: 60%;
            margin-top: -120%;
            position: absolute;
            z-index: 2;
        }
        
        .contact {
            transform: rotate(35deg);
            margin-left: 5%;
            margin-top: -100%;
            position: absolute;
            z-index: 2;
        }
        
        .circle {
            width: 10vw;
            height: 10vw;
            border-radius: 50%;
            background-color: yellow;
            border: 2px solid #000000;
            position: relative;
            animation: roll 3s infinite; 
            left: -20vw;
            z-index: 3;
          }
          
          @keyframes roll {
            0% {
              top: -30vh;
              left: -75vw;
            }
            25% {
              top: 30vh;
              left: calc(100vw - 15vw);  
            }
            50% {
              top: 55vh;
              left: calc(100vw - 75vw);
            }
            75% {
              top: 80vh;
              left: calc(100vw - 1vw);
        
            }
            100% {
                top: 250vh; 
                left: calc(100vw - 1vw);
              }
          }
        }    