.header {
    margin-top: 3vh;
}

.left {
    width: 20vh;
    margin-right: 10vh;
}

.right {
    width: 20vh;
    margin-left: 10vh;
}

.close {
    width: 20vh;
}

.title {
    margin-top: 8vh;
    margin-left: 0.17vh;
}

h1 {
    font-size: 20vh;
    letter-spacing: 0.83vh;
    margin-right: 6.67vh;
}

h2 {
    font-size: 7.08vh;
    letter-spacing: 0.67vh;
    margin-right: 6.83vh;
    line-height: 0.8;
}

h3 {
    font-size: 7.08vh;
    letter-spacing: 0.67vh;
    margin-right: 8.33vh;
}

.information {
    margin-top: 2vh;
    margin-right: 16vh;
}

h6 {
    line-height: 170%;
}

.img-1{
    position: relative;

}

.line {
    border: none;
    border-top: 2px solid black;
    margin: 20vh 0 0 100vh;
    width: 60vh;
}

.me {
    margin-top: 10vh;
    margin-bottom: 5vh;
    margin-right: 4.34vh;
    text-align: right;
    font-size: 4.17vh;
    letter-spacing: 1.04vh;
    line-height: 1.5;
}

.circle-1 {
    position: absolute;
    width: 10vh;
    height: 10vh;
    background-color: yellow;
    border: 2px solid #000000;
    border-radius: 50%;
    top: 25vh; 
    left: 83vh;
}
  
.circle-2 {
    position: absolute;
    width: 5vh;
    height: 5vh;
    background-color: yellow;
    border: 1px solid #000000;
    border-radius: 50%;
    top: 65vh; 
    left: 70vh;
}

.circle-3 {
    position: absolute;
    width: 60vh;
    height: 60vh;
    background-color: yellow;
    border: 2px solid #000000;
    border-radius: 50%;
    top: 110vh;
    left: 50vh;
}
@media (min-width: 1200px) {
.header {
    margin-top: 3vh;
}

.left {
    width: 20vh;
    margin-right: 10vh;
}

.right {
    width: 20vh;
    margin-left: 10vh;
}

.close {
    width: 20vh;
}

.title {
    margin-top: 8vh;
    margin-left: 0.17vh;
}

h1 {
    font-size: 20vh;
    letter-spacing: 0.83vh;
    margin-right: 6.67vh;
}

h2 {
    font-size: 7.08vh;
    letter-spacing: 0.67vh;
    margin-right: 6.83vh;
    line-height: 0.8;
}

h3 {
    font-size: 7.08vh;
    letter-spacing: 0.67vh;
    margin-right: 8.33vh;
}

.information {
    margin-top: 2vh;
    margin-right: 16vh;
}

h6 {
    line-height: 170%;
}



.line {
    border: none;
    border-top: 2px solid black;
    margin: 20vh 0 0 80vh;
    width: 60vh;
}

.me {
    margin-top: 10vh;
    margin-bottom: 5vh;
    margin-right: 4.34vh;
    text-align: right;
    font-size: 4.17vh;
    letter-spacing: 1.04vh;
    line-height: 1.5;
}

.circle-1 {
    width: 10vh;
    height: 10vh;
    background-color: yellow;
    border: 2px solid #000000;
    border-radius: 50%;
    top: 25vh; 
    left: 83vh;
}
  
.circle-2 {
    width: 5vh;
    height: 5vh;
    background-color: yellow;
    border: 1px solid #000000;
    border-radius: 50%;
    top: 65vh; 
    left: 70vh;
}

.circle-3 {
    width: 50vh;
    height: 50vh;
    background-color: yellow;
    border: 2px solid #000000;
    border-radius: 50%;
    position: absolute;
    top: 130%;
    left: 50%;
    transform: translate(-50%, -50%);
}
}







@media (max-width: 768px) {
    .header {
        margin-top: 2vh;
    }
    
    .left {
        width: 15vh;
        margin-right: 5vh;
    }
    
    .right {
        width: 15vh;
        margin-left: 5vh;
    }
    
    .close {
        width: 15vh;
    }
    
    .title {
        margin-top: 5vh;

    }
    
    h1 {
        font-size: 10vh;
        letter-spacing: 0.83vh;
        padding-right: 6.67vh;

}
    h2 {
        font-size: 8vh;
        letter-spacing: 0.67vh;
        line-height: 0.8;
        padding-right: 6.67vh;
       
}
       
       
    
    h3 {
        font-size: 8vh;
        letter-spacing: 0.67vh;
        padding-right: 8vh;
        
    }
    
    .information {
        line-height: 50%;
        margin-top: 8vh;
        margin-left: -10vh;
    }
    
    

    
    .line {
        border: none;
        border-top: 2px solid black;
        margin: 10vh 0 0 30vh;
        width: 60vh;

    }
    
    .me {
        margin-top: 10vh;
        margin-right: 6vh;
        text-align: right;
        font-size: 3vh;
        letter-spacing: 1vh;
        line-height: 1;
    }
    
    .circle-1 {
        left: 45%;
        top: 15vh;
       
    }

      
    .circle-2 {
        top: 53vh;
        left: 37vh;
    }
    
    .circle-3 {
        width: 40vh;
        height: 40vh;
        top: 110%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
  }



  

  @media (max-width: 360px) {
    .header {
        margin-top: 2vh;
    }
    
    .left {
        width: 12vh;
        margin-right: 2vh;
    }
    
    .right {
        width: 12vh;
        margin-left: 2vh;
    }
    
    .close {
        width: 12vh;
    }
    
    .title {
        margin-top: 2vh;

    }
    
    h1 {
        font-size: 5vh;
        letter-spacing: 0.5vh;
       
    }
    
    h2 {
        font-size: 3vh;
        letter-spacing: 0.3vh;
        line-height: 0.8;
    }
    
    h3 {
        font-size: 3vh;
        letter-spacing: 0.5vh;
    }
    
    .information {
        margin-top: 4vh;
        margin-left: -30vh;
        margin-right: 12vh;
    }
    
    .information h6 {
        font-size: 8px;
        padding: 0%;
    }
    
    
    .line {
        border: none;
        border-top: 2px solid black;
        margin-top: 35vh;
        margin-left: -22vh;
        width: 20vh;

    }
    
    .me {
        margin-top: 2vh;
        text-align: right;
        font-size: 1vh;
        letter-spacing: 1vh;
        line-height: 1;
        margin-right: -2vh;
    }
    
    .circle-1 { 
        width: 5vh;
        height: 5vh;
        left: 26vh;
        top: 9vh;
        border: 1px solid #000000;
       
    }
      
    .circle-2 {
        display: none;
    }
    
    .circle-3 {
        width: 20vh;
        height: 20vh;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 1px solid #000000;
    }
  }



  